@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html,body {
    font-family: 'Inter var', sans-serif;
  }
}
h3,h1{
  letter-spacing: -0.18px;
  font-family: 'Inter var', sans-serif;
}
.main-color{
  color: #263D52;
}
.secondery-color{
  color: #8A95A5;
}
ul{
  list-style-type: none;
  padding: 0;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
  background: #F8F9FA;
}
.content{
  max-width: 688px;
  width: 100%;
  margin: 0 auto;
}
.content_head{
  text-align: left;
}
.list-item{
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #fff;
  background: #ffffff;
  box-shadow: 0px 0px 0px 1px #3600000a;
}

.list-item_score-prefixed{
  margin-right: 20px;
  font-weight: 600;
  color: #4583C2;
}
.list-item_score-score::after{
  content: ' points';
}
@media only screen and (max-width: 767px) {
  .content{
    max-width: 355px;
    width: 100%;
    margin: 0 auto;
    background: #F8F9FA;
  }
}
